footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='#') About Us
    li: a(href='#') Download App
    li: a(href='#') Become a Guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; Jonas Schmedtmann. All rights reserved.