doctype html
html
    head
        title Natours | #{tour}
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/logo.png')

    body
        h1= tour
        h2= user.toUpperCase()
        //- h1 The Park Camper

        - const x = 9;
        h2= 2 * x

        p Here's some text!