extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Create an Account!
      form.form.form--signup
        .form__group
          label.form__label(for='name') Full Name
          input#name.form__input(type='text' placeholder='Jane Doe' required='')
        .form__group
          label.form__label(for='email') Email Address
          input#email.form__input(type='email'   placeholder='you@example.com' required='')
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password' placeholder='••••••••' required='' minlength='8')
        .form__group
          button Sign Up