doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/email.css')
    link(rel='shortcut icon' type='image/png' href='/img/logo.png')
    title Natours | #{title}

  body
    header.header
      a.header__logo(href='/') Natours
    .container
      p.welcome Welcome to the Natours community
      p.slogan Flights, Camera, Action
      p.blurb From rugged cliffs to sandy beaches, Natours is your non-stop flight to incredible adventure!
        .container__images
        img(src=`../public/img/tours/tour-1-cover.jpg`, alt=`The Park Camper Tour ${i + 1}`)
      p.footer Natours Inc, 123 Nowhere Road, San Francisco CA 99999
      p Don't like these emails? 
      a(href='#') Unsubscribe