doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/email.css')
    link(rel='shortcut icon' type='image/png' href='/img/logo.png')
    title Natours | #{title}

  body
    header.header
      a.header__logo(href='/') Natours
    .container
      p.welcome Welcome to the Natours community
      p.slogan Flights, Camera, Action
      p.blurb From rugged cliffs to sandy beaches, Natours is your non-stop flight to incredible adventure!
    .footer__container
      span.footer
        a(href='#') Unsubscribe
        |  from notifications like these. To unsubscribe from all emails or to manage your email preferences, visit our 
        a(href='#') preference center
        | .
        p.address
        | Natours 
        br
        | 123 Nowhere Road &bull; San Francisco, CA 99999
        br
        .view__in__browser
        a(href='/email/welcome') View in Browser