@font-face {
  font-family: 'JohnMuirSans';
  src: local('JohnMuirSansWide'), url('.././fonts/JohnMuirSansWide.woff');
}

@font-face {
  font-family: 'Wandery';
  src: local('WanderyRegular'), url('.././fonts/Wandery\ Regular.woff');
}

:root {
  --blue: #004c6e;
  --blue-hover: #002749;
  --brown: #401b0e;
  --brown-light: #572614;
  --brown-lighter: #80321e;
  --brown-hover: #1e0203;
  --danger: #b71757;
  --off-white: #f5e3cf;
  --sepia: #704214;
  --success: #499b0f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-white);
  font-family: 'Wandery', serif;
  line-height: 1.5;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  margin-top: 40px;
}

header > a {
  align-items: center;
  color: var(--brown);
  cursor: pointer;
  display: flex;
  font-size: 22px;
  justify-content: center;
}

.header__logo,
.header__logo:link,
.header__logo:visited {
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 44px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto !important;
  max-width: 580px;
  padding: 16px;
  text-align: center;
}

.welcome {
  color: var(--blue);
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 6px;
}

.slogan {
  color: var(--brown);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 6px;
}

.blurb {
  color: var(--brown-light);
  font-size: 24px;
  font-weight: 700px;
  margin: 0 auto !important;
  max-width: 460px;
  padding-bottom: 18px;
}

/*

.container__images {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 580px;
}

*/

.footer__container {
  margin: 0 auto !important;
  line-height: 1;
  max-width: 490px;
  padding: 16px;
}

.footer {
  color: var(--brown-lighter);
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 36px;
}

.footer > a {
  color: var(--blue);
}

.address {
  margin-top: 18px;
}

.view__in__browser {
  margin-top: 18px;
}

@media only screen and (max-width: 480px) {
  header > a {
    font-size: 18px;
  }

  .header__logo,
  .header__logo:link,
  .header__logo:visited {
    font-size: 24px;
  }

  .slogan {
    font-size: 24px;
  }

  .welcome {
    font-size: 18px;
  }
}
