/* -------------------- Fonts -------------------- */

@font-face {
  font-family: 'JohnMuirSans';
  src: local('JohnMuirSansWide'), url('.././fonts/JohnMuirSansWide.woff');
}

@font-face {
  font-family: 'Wandery';
  src: local('WanderyRegular'), url('.././fonts/Wandery\ Regular.woff');
}

/* -------------------- End -------------------- */

:root {
  --blue: #004c6e;
  --blue-hover: #002749;
  --brown: #401b0e;
  --brown-light: #572614;
  --brown-lighter: #80321e;
  --brown-hover: #1e0203;
  --danger: #b71757;
  --off-white: #f5e3cf;
  --sepia: #704214;
  --success: #499b0f;
}

/* -------------------- Modify Later -------------------- */

::-moz-selection {
  background-color: var(--brown);
  color: var(--off-white);
}

::selection {
  background-color: var(--brown);
  color: var(--off-white);
}

/* -------------------- End -------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Wandery', serif;
  line-height: 1.5;
  min-height: 100vh;
}

h2 {
  color: var(--brown-light);
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 33px;
  margin-bottom: 48px;
}

/* -------------------- Header Pug -------------------- */

.header {
  align-items: center;
  background-color: var(--off-white);
  border-bottom: 1px solid var(--brown-lighter);
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  z-index: 100;
}

.nav {
  align-items: center;
  display: flex;
}

.testing {
  margin-top: 0px;
}

.testing2 {
  margin-top: 64px;
}

a {
  align-items: center;
  background: none;
  border: none;
  color: var(--brown);
  cursor: pointer;
  display: inline-flex;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s;
}

a:focus {
  outline: none;
}

a:active,
a:focus,
a:hover {
  color: var(--brown-hover);
  transform: scale(1.1);
}

.header__logo,
.header__logo:link,
.header__logo:visited {
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 44px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
}

.nav__user-img {
  border-radius: 50%;
  height: 40px;
  margin-left: 16px;
  margin-right: 16px;
  width: 40px;
}

@media only screen and (max-width: 1080px) {
  .header {
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding-top: 40px;
  }

  .header__logo {
    order: -1;
    top: 1%;
  }

  .nav {
    flex-direction: column;
  }

  .nav__user-img {
    margin-left: -56px;
  }

  .testing {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    height: 146px;
    justify-content: center;
    padding-top: 10px;
  }

  a {
    font-size: 18px;
  }

  .header__logo,
  .header__logo:link,
  .header__logo:visited {
    font-size: 24px;
  }

  .nav__user-img {
    height: 32px;
    margin-left: -48px;
    width: 32px;
  }
}

/* -------------------- End -------------------- */

/* -------------------- Main -------------------- */

.main {
  background-color: var(--off-white);
  flex: 1;
  padding: 48px;
  position: relative;
}

/* -------------------- End -------------------- */

/* -------------------- Log In Pug -------------------- */

.login-form {
  align-items: center;
  background-color: var(--off-white);
  border: 10px solid var(--brown);
  border-radius: 15px;
  box-shadow: 10px 10px 50px var(--brown-hover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 768px;
  padding: 48px;
  text-align: center;
}

.heading-secondary {
  color: var(--brown-light);
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 33px;
  width: 50%;
}

.ma-bt-lg {
  margin-top: 18px;
  margin-bottom: 66px !important;
}

.form__group:not(:last-child) {
  margin-bottom: 18px;
}

.form__label {
  color: var(--brown-lighter);
  font-size: 22px;
}

.form__input {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  font-family: 'Wandery', serif;
  font-size: 18px;
  margin-top: 18px;
  padding: 12px;
  text-align: center;
  width: 100%;
}

.form__input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.ma-bt-md {
  margin-bottom: 33px !important;
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  color: var(--off-white);
  cursor: pointer;
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 18px;
  height: 44px;
  letter-spacing: 2px;
  margin-bottom: 27px;
  transition: all 1s;
  width: 75%;
}

button:active,
button:focus,
button:hover {
  background-color: var(--blue-hover);
  transform: scale(1.15);
}

@media only screen and (max-width: 1080px) {
  .login-form {
    box-shadow: 10px 10px 37.5px var(--brown-hover);
  }
}

@media only screen and (max-width: 768px) {
  .heading-secondary {
    width: 75%;
  }
}

@media only screen and (max-width: 570px) {
  .heading-secondary {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  button {
    font-size: 14px;
  }

  .main {
    padding: 24px 12px;
  }

  .heading-secondary {
    font-size: 18px;
  }

  .form__input,
  .form__label {
    font-size: 16px;
  }

  .login-form {
    box-shadow: 10px 10px 20px var(--brown-hover);
  }
}

.alert {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  color: var(--off-white);
  font-size: 33px;
  font-weight: 400;
  left: 50%;
  padding: 45px 135px;
  position: fixed;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert--success {
  background-color: var(--success);
}

.alert--error {
  background-color: var(--danger);
}

/* -------------------- End -------------------- */

/* -------------------- Footer Pug -------------------- */

.footer {
  align-items: center;
  background-color: var(--brown);
  display: flex;
  justify-content: space-between;
  padding: 48px;
  text-align: center;
}

.footer__nav {
  display: flex;
  list-style: none;
  margin: 0 auto !important;
}

.footer__nav li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.footer__nav a {
  color: var(--off-white);
  font-size: 22px;
  text-decoration: none !important;
  transition: all 1s;
}

@media only screen and (max-width: 1080px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .footer__nav a {
    padding-bottom: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .footer__nav a {
    font-size: 18px;
  }
}

/* -------------------- End -------------------- */

/* -------------------- Overview Pug -------------------- */

.card__container {
  margin-bottom: 48px;
}

.card__container:last-child {
  margin-bottom: 0px;
}

.card {
  aspect-ratio: 3/2;
  backface-visibility: hidden;
  background-color: var(--off-white);
  border: 10px solid var(--brown);
  border-radius: 15px;
  box-shadow: 10px 10px 50px var(--brown-hover);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  transition: 1s all;
}

.card__header {
  position: relative;
}

.card__picture {
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  position: relative;
}

.card__picture-overlay {
  background-color: var(--sepia);
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.card__picture-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

h1 {
  color: var(--brown-light);
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 33px;
  padding: 12px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
}

.card__details {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.card__sub-heading {
  color: var(--brown-light);
  font-size: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.card__text {
  color: var(--brown);
  font-size: 22px;
  font-style: italic;
  padding-bottom: 18px;
}

.card__data {
  align-items: center;
  color: var(--brown-lighter);
  display: flex;
  font-size: 18px;
  padding-bottom: 18px;
}

.card__data svg {
  margin-right: 12px;
}

.card__icon {
  fill: var(--brown-light);
  height: 40px;
  width: 40px;
}

.card__footer {
  background-color: var(--off-white);
  border-top: 1px solid var(--brown-lighter);
  display: flex;
  flex-direction: column;
  font-size: 22px;
  padding: 24px;
  text-align: center;
}

.card__footer-value {
  color: var(--brown-hover);
  font-weight: 700;
}

.card__footer-text {
  color: var(--brown-lighter);
}

.card__ratings {
  padding-bottom: 24px;
}

.btn {
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  color: var(--off-white);
  cursor: pointer;
  display: block;
  font-family: 'JohnMuirSans', sans-serif;
  font-size: 18px;
  height: 44px;
  letter-spacing: 2px;
  line-height: 44px;
  margin: 0 auto;
  text-align: center;
  transition: all 1s;
  width: 50%;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: var(--blue-hover);
  color: var(--off-white);
  transform: scale(1.15);
}

@media only screen and (max-width: 480px) {
  .card__sub-heading {
    font-size: 16px;
  }

  .card__text {
    font-size: 20px;
  }

  .card__data {
    font-size: 16px;
  }

  .card__icon {
    height: 32px;
    width: 32px;
  }

  .card__footer {
    font-size: 18px;
  }

  .btn {
    font-size: 14px;
    width: 90%;
  }
}

/* -------------------- End -------------------- */

/* -------------------- Error Pug -------------------- */

.error {
  align-items: center;
  background-image: linear-gradient(
    135deg,
    hsl(208deg 100% 14%) 0%,
    hsl(200deg 100% 20%) 19%,
    hsl(170deg 100% 26%) 38%,
    hsl(41deg 100% 32%) 54%,
    hsl(343deg 70% 37%) 68%,
    hsl(16deg 64% 15%) 80%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 432px;
  padding: 48px;
  text-align: center;
}

.error__title {
  color: var(--off-white);
  font-family: 'Wandery', serif;
  font-size: 60px;
  font-weight: 900;
}

.error__msg {
  color: var(--off-white);
  font-size: 40px;
}

@media only screen and (max-width: 480px) {
  .error__title {
    font-size: 45px;
  }

  .error__msg {
    font-size: 30px;
  }
}

/* -------------------- End -------------------- */

/* -------------------- Account Pug -------------------- */

.user-view {
  background-color: var(--off-white);
  border: 10px solid var(--brown);
  border-radius: 15px;
  box-shadow: 10px 10px 50px var(--brown-hover);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 768px;
  min-height: 100vh;
}

.user-view__menu {
  background-image: linear-gradient(
    135deg,
    hsl(208deg 100% 14%) 0%,
    hsl(200deg 100% 20%) 19%,
    hsl(170deg 100% 26%) 38%,
    hsl(41deg 100% 32%) 54%,
    hsl(343deg 70% 37%) 68%,
    hsl(16deg 64% 15%) 80%
  );
  border: 10px solid var(--off-white);
  border-radius: 15px;
}

.side-nav {
  list-style: none;
  padding: 48px;
  text-align: center;
}

.side-nav li {
  margin-bottom: 12px;
  transition: all 1s;
}

.side-nav--active a {
  transform: translateX(-6px);
}

.side-nav a:link,
.side-nav a:visited {
  color: var(--off-white);
  font-size: 33px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s;
}

.side-nav a:hover,
.side-nav a:active {
  transform: translateX(6px);
}

.admin-nav {
  margin-top: 48px;
}

.admin-nav h5 {
  margin-bottom: 48px;
}

.admin-nav__heading {
  border-bottom: 10px solid var(--off-white);
  color: var(--off-white);
  font-size: 60px;
  margin: 12px;
  padding-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
}

.user-view__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  text-align: center;
}

.line {
  background-color: var(--brown-lighter);
  height: 1px;
  margin: 96px 0;
  width: 100%;
}

.form__photo-upload {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.form__user-photo {
  border-radius: 50%;
  height: 112px;
  margin: auto;
  width: 112px;
}

.form__upload {
  height: 0.1px;
  margin-top: 24px;
  opacity: 0;
  overflow: hidden;
  width: 0.1px;
  z-index: -1;
}

.form__upload + label {
  border-bottom: 1px solid var(--brown-lighter);
  color: var(--brown-lighter);
  cursor: pointer;
  padding: 3px;
  text-decoration: none;
  transition: all 1s;
}

.form__upload + label:hover {
  background-color: var(--brown-lighter);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  color: var(--off-white);
  transform: translateY(-2px);
}

@media only screen and (max-width: 480px) {
  .admin-nav__heading {
    font-size: 24px;
  }

  .form__photo-upload {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  .side-nav {
    padding: 12px;
  }

  .side-nav a:link,
  .side-nav a:visited {
    font-size: 22px;
  }
}

/* -------------------- End -------------------- */

/* -------------------- Tour Pug -------------------- */

.overview-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overview-box__group:not(:last-child) {
  margin-bottom: 7rem;
}

.overview-box__detail {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}

.overview-box__detail svg {
  margin-right: 1.25rem;
}

.overview-box__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}

.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #55c57a;
}

.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.overview-box__text {
  text-transform: capitalize;
}

/* -------------------- End -------------------- */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn-small:hover {
  background-color: #7dd56f;
}

.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-description > * {
  padding: 0 8vw;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.description-box .description {
  margin-right: 5rem;
}
.description-box .description__text {
  font-size: 1.7rem;
}
.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}

.overview-box__img {
  border-radius: 50%;
  height: 3.5rem;
  margin-right: 1.25rem;
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}
.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img--2 {
  padding-bottom: 15%;
}
.picture-box__img--3 {
  padding-bottom: 27%;
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}
.reviews__card {
  width: 30rem;
  padding: 4rem;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews:before,
.reviews:after {
  content: '';
  width: 2rem;
}
.reviews__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}
.reviews__avatar-img {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.reviews__user {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.reviews__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400;
}
.reviews__rating {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.reviews__star--active {
  fill: #55c57a;
}
.reviews__star--inactive {
  fill: #bbb;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + var(--section-rotate));
  background-color: #f7f7f7;
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}
.cta__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
.cta__img--logo {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  z-index: 10;
  -webkit-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
}
.cta__img--logo img {
  width: 100%;
}
.cta__img--1 {
  -webkit-transform: translate(-10%, -50%) scale(0.97);
  transform: translate(-10%, -50%) scale(0.97);
  z-index: 9;
}
.cta__img--2 {
  -webkit-transform: translate(15%, -50%) scale(0.94);
  transform: translate(15%, -50%) scale(0.94);
  z-index: 8;
}
.cta__content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.7rem;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cta__text {
  font-size: 1.9rem;
  font-weight: 400;
}

.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav__search {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.2rem;
  }
}
.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.nav__search-btn svg {
  height: 2rem;
  width: 2rem;
  fill: #f7f7f7;
}
.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f7f7f7;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 18rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__search-input::-webkit-input-placeholder {
  color: #999;
}
.nav__search-input:-ms-input-placeholder {
  color: #999;
}
.nav__search-input::-ms-input-placeholder {
  color: #999;
}
.nav__search-input::placeholder {
  color: #999;
}
.nav__search-input:focus {
  outline: none;
  width: 25rem;
  border-bottom: 1px solid currentColor;
}
